#title-section{
    background-color:rgb(40,40,40);
    color:rgb(245,245,245);
}
body { padding-top: 60px; }

.source{
    background-color:rgb(255,255,255);
    border: none;
}

.message{
    border: none;
}

div.message pre{
    background-color:rgb(255,255,255);
}

div.output pre{
    background-color:rgb(255,255,255);
}

img {
    max-width: 100%;
}

.anchor{
    padding-top: 40px;
    margin-top: -40px;
    display: inline-block; /* required for webkit browsers */
}
